body {
    margin: auto;
    padding: 0%;
    background-color: whitesmoke;
}

#container {

    margin: auto;
    width: 751px;
    background-color: white;
}

.map {
    border-radius: 20%;
}

iframe {
    width: 750px;
    height: 555px;



}

.list {
    width: 750;
}

img {
    width: 50px;
    height: 50px;
}

button {
    cursor: pointer;
}

.list>div {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}